@import '~antd/dist/antd.css';

.header {
    background-color: #047BD5;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBox {
    width: 400px;
}

.loginButton {
    margin-left: 20px;
}

.categoryHeader {
    background-color: lightgrey;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productCard {
    width: 300px;
    margin-top: 12px;
    margin-left: 3px;
}

.paginationWrapper {
    padding-top: 25px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}